/* your code here */
*{
	margin:0px;
	padding:0px;
}
body{
	background-color:rgb(15,227,126);
}

.product{
	width:600px;
	height:600px;
	background-color:white;

 position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	border-radius:8px;
	
}

.product__photo{

	
	width:400px;
	position:relative;
	right:20px
	margin-top:20px;
	border-radius:8px;
	
}
.photo-container{
	background-color:rgb(169,228,39);
	width:300px;
	height:450px;
	margin:30px;
	border-radius:5px;
	position:relative;
	right:50px;
	
}
.photo-main{
	position:relative;
	right:60px;
	top:px;
}

.controls{
	color:white;
	
	position:relative;
	left:80px;
	top:10px;
	
	
}
.fa-heart-o{
	padding-left:230px;	
}

.photo-album{

	

	width:300px;
	height:90px;
	position:relative;
	top:75px;
	background-color:white;
	box-shadow: 1px 5px 0px 0px  #E1E1E1;
	border-radius: 0px 0px 8px 8px;
	
	
}

li{
	display:inline-block;
	border:1px solid lightgray;
	position:relative;
	left:20px;
	top:13px;		
}

.product__info{
	background-color:red;
	width:350px;
	padding-left:0px;
	display:relative;
	left:20px;
}




